[zoom-entry-point]{
    .scroll-animation-container{
        &.middle-zoom{
            margin-top:-100vh;
            @media only screen and (min-width: 768px){
                margin-top:-60vh;
            }
            .fixed-content{
                .zoom-canvas{
                    opacity:0;
                    width:100%;
                    // height:100%;
                }
          }
            .scroll-content{
                position: relative;
                color:white;
                margin-top: -150vh;
               
                .text-content{
                    max-width:600px;
                    padding-bottom: 20vh;
                    font-size: 1.15em;
                    line-height: 1.3em;
                    
                }
            }
        }
    }
}