[zoom-entry-point]{
    .scroll-animation-container{
        &.model-text-3d{
            -webkit-user-select: none;
            user-select:none;
            .scroll-content{
                position: relative;
                .scene-content{
                    width:100%;
                    height:auto;
                    // background-color: rgb(202, 202, 202);
                    margin: 5vh 0;
                    .canvas-element{
                        width:100%;
                    }
                }
            }
        }
    }
}