[zoom-entry-point]{
    background-color: rgb(0, 0, 0);

    .scroll-animation-container{
        .fixed-content{
            position: relative;
            top:0;
            left:0;
            width:100vw;
            height: 100vh;
        }
        .scroll-content{
            // position: absolute;
            width:100%;
            top:0;
            // margin-top:-100vh;
            .text-content{
                // z-index:8999;
                color:#d0d0d0;
                font-size: 1.15em;
                line-height: 1.3em;
            }
        }
    }
}